@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">


<header class="header">

    <section class="hnav">
        <div class="logo">
            <h3><i class="fa-solid fa-car"></i>TMS</h3>
        </div>
        <a class="btn btn-light" asp-controller="Home" asp-action="Logout">Logout</a>

    </section>

</header>


<div class="side-bar">

    <div class="profile">
        <img src="/images/admin.png" class="image" alt="">
        <h3 class="name">Admin</h3>
    </div>

    <nav class="navb-ar">
        <ul>
        <li><a asp-controller="Dashboard" asp-action="Home"><i class="fas fa-home"></i><span>Home</span></a></li>
        <li><a asp-controller="Dashboard" asp-action="Addnew"><i class="fa-solid fa-plus"></i><span>Add new</span></a></li>
        <li><a asp-controller="Dashboard" asp-action="Modify"><i class="fa-solid fa-pen-to-square"></i><span>Modify</span></a></li>
        <li><a asp-controller="Dashboard" asp-action="Status"><i class="fa-solid fa-check"></i><span>Status</span></a></li>
        <li><a asp-controller="Allocation" asp-action="Index"><i class="fa-sharp fa-solid fa-tablet"></i><span>Allocate</span></a></li>
        </ul>
    </nav>

</div>

<section class="home">

    <h1 class="heading">
        Quick options
    </h1>

    <div class="box-container">

        <div class="box">
            <i class="fa-solid fa-people-group"></i>
            <h3>Employee</h3>
            <p>Check,Create,Delete and Get Data for Employee.</p>
            <a class="btn btn-outline-dark" asp-controller="Employees" asp-action="Index">View</a>
        </div>
        <div class="box">
            <i class="fa-solid fa-car"></i>
            <h3>Vehicle</h3>
            <p>Check,Create,Delete and Get Data for Vehicle.</p>
            <a class="btn btn-outline-dark" asp-controller="Vehicles" asp-action="Index">View</a>
        </div>
        <div class="box">
            <i class="fa-solid fa-route"></i>
            <h3>Route</h3>
            <p>Check,Create,Delete and Get Data for Route.</p>
            <a class="btn btn-outline-dark" asp-controller="RoutePaths" asp-action="Index">View</a>
        </div>
    </div>

</section>